#profile-button {
    color: darkkhaki;
}

body {
    text-align: center;
}

main{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#profile-picture {
    width: 300px;
}

.main img, a {
    max-width: 60vw;
}

.save-button {
    color: black;
    text-decoration: none;
    background-color: darkkhaki;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
}

.save-button:hover {
    background-color: #b3ad66;
}

#profile-selector {
    display: none;
}

.button {
    color: black;
    text-decoration: none;
    background-color: darkkhaki;
    padding: 2px 5px 2px 5px;
    width: 96px;
    border-radius: 10px;
    margin: 25px;
}

.button:hover {
    background-color: #b3ad66;
}

