#members-button {
    color: darkkhaki;
}

.member {
    min-height: 300px;
}

.main .member {
    padding-bottom: 20px;
    border-bottom: 3px solid #505050;
}

.member img {
    height: 200px;
}

.works-button {
    color: black;
    text-decoration: none;
    background-color: darkkhaki;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
}

.works-button:hover {
    background-color: #b3ad66;
}

.name-link {
    color: gainsboro;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
}
.name-link:hover {
    color: darkkhaki;
}

.member h2 {
    border-bottom: 3px solid #505050;
    width: 80%;
}

@media (max-width: 650px) {
    .member {
        margin: 0 7% 20px 7%;
    }
}


