#projects-button {
    color: darkkhaki;
}

.main a, img {
    max-width: 60vw;
}

.main {
    align-items: center;
    text-align: center;
}

.main iframe {
    width: 50vw;
    height: 500px;
}

iframe {
    margin-bottom: 2em;
}

.score{
    width: 350px;
    transition: transform .2s;
    border-radius: 5px;
}

.score:hover{
    transform: scale(1.1)
}

.works-button {
    color: black;
    text-decoration: none;
    background-color: darkkhaki;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
}

.works-button:hover {
    background-color: #b3ad66;
}

@media (max-width: 780px) {
    .main iframe {
        height: 300px;
        width: 100%;
    }
    .main a, img {
        max-width: 100%;
    }
}