.main a, img {
    max-width: 60vw;
}

.main a {
    color: gainsboro;
    font-size: 20px;
    padding: 2px;
    margin: 10px;
    text-decoration: none;
}

.main a:hover {
    color: darkkhaki;
}

@media (max-width: 550px) {
    .main a, img {
        max-width: 90vw;
    } 
}