.main a, img {
    max-height: 60vh;
}

.main a {
    color: gainsboro;
    font-size: 20px;
    padding: 2px;
    margin: 10px;
    text-decoration: none;
}

.main a:hover {
    color: darkkhaki;
}

@media (max-width: 675px) {
    .main a, img {
        max-height: 80vh;
    } 
}